/* You can add global styles to this file, and also import other style files */
html, body
{
font-size:16px;
font-family: "Roboto";
font-weight: 400;
text-align: center;
color:#fff;
background-color: #373737;
top: 0px;
left: 0px;
width: 1429px;
height: 2284px;
opacity: 1;
}